body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFBFF; /* Light background */
    color: #1C1B1E; /* Light onBackground */
}

header {
    background-color: #E91E63; /* Light primary */
    color: white; /* Light onPrimary */
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white; /* Light onPrimary */
    text-decoration: none;
}

main {
    padding: 2em;
}

.hero {
    background: #FFD9E3; /* Light primaryContainer */
    padding: 2em;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 2em;
}

.features {
    display: flex;
    justify-content: space-around;
}

.feature {
    background: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
    text-align: center;
}

.feature h3 {
    color: #E91E63; /* Light primary */
}

.button {
    background-color: #9C27B0; /* Light secondary */
    color: white; /* Light onSecondary */
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #FFABF4; /* Dark secondary */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #1C1B1E; /* Dark background */
    color: #E6E1E6; /* Dark onBackground */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.list-group-item a {
    color: #E91E63; /* Light primary */
    text-decoration: none;
}

/* Responsive styles */

/* Mobile styles */
@media (max-width: 576px) {
    header nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 80%;
        margin-bottom: 1em;
    }
}

/* Tablet styles */
@media (min-width: 577px) and (max-width: 768px) {
    .feature {
        width: 45%;
        margin-bottom: 1em;
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .feature {
        width: 30%;
    }
}